.navbar{
    width: 100%;    
    height: 10vh;
    background-color:lightgreen;
    position: relative;
}
#custom_btn{
    position:absolute ;
    right: 10px;
    top: 10px;
    background-color: lime;
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
}
.heading{
    
    text-align: center;
    padding-bottom:2px; 
}
.timer{
    color: red;
    
}
